[submodule "minilibx-linux"]
	path = minilibx-linux
	url = git@github.com:coderquokka/minilibx-linux.git
[submodule "Push-Swap-Tester"]
	path = Push-Swap-Tester
	url = git@github.com:coderquokka/Push-Swap-Tester.git
