[submodule "rank_02/push_swap/Push-Swap-Test"]
	path = rank_02/push_swap/Push-Swap-Test
	url = git@github.com:coderquokka/Push-Swap-Tester.git
[submodule "rank_02/so_long/code/minilibx-linux"]
	path = rank_02/so_long/code/minilibx-linux
	url = git@github.com:coderquokka/minilibx-linux.git
